/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    transition: 0.3s;
    background-color: #000;
    color: #fff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
header {
    background-color: #8B0000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid red;
}

header h1 {
    margin: 0;
}

/* Navegação */
nav {
    display: flex;
}

nav a, footer a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
}

nav a:hover, nav a.selected, footer a:hover, footer a.selected {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #ff6347;
}

/* Divisórias */
.divider {
    border-top: 2px solid #fff;
    margin: 20px 0;
}

/* Rodapé */
footer {
    background-color: #8B0000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    border-top: 2px solid red;
}

/* Links clicáveis */
a {
    color: #FF0000; /* Vermelho */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #FF6347; /* Vermelho claro ao passar o mouse */
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #cc0000;
}




.light-mode {
    background-color: white;
    color: black;
}

.integrante img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.1);
}